/* @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');



body.body_main {
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); 
    background: linear-gradient(-40deg, #07191E, #082430, #093046, #0C3D4C, #0C556B, #0C556B, #0C3D4C, #093046, #082430, #07191E);
	background-size: 400% 400%;
	animation: back1 15s ease infinite;
    filter: blur(4px); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #000;
    z-index: -1;
}



.main {
    position: absolute;
    align-self: center;
    width: 95vw;
    min-width: min-content;
    max-width: 1560px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10px;
    z-index: 5;
    min-height: fit-content;
    background-color: #000;
}

.top {
    position: sticky;
    top: 0px;
    background-color: rgb(48, 0, 48);
    /* -webkit-flex-direction: column; */
    display: flex;
    flex-direction: row;
    height: min-content;
    width: auto;
    border-radius: 5px;
    z-index: 2;
}

.top:hover1 {
    max-width: 95vw;
    scale: 1.5;

}

.boxes {
    width: 20%;
    min-height: 0px;
    height: auto;
    max-height: min-content;
    padding: 5px;
    background-color: rgba(87, 22, 87, 0.623);
    border: 2px solid;
    border-color: darkmagenta;
    border-radius: 10px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 500;
    font-size: 26px;
}

.boxes:hover {
    background-color: DarkOrchid;
    border: 2px solid;
    border-color: rgb(154, 55, 247);
}

.middle {
    display: flex;
    flex-direction: row;
}

.middle:hover1 {
    background-color: Olive;
    font-size: large;
}

.left {
    position: sticky;
    top: 0px;
    background-color: #4e6263;
    min-width: 1vw;
    max-width: 256px;
    border: #b7a4fd solid 15px;
    height: max-content;
    padding: 15px;
}

.main-text {
    position: relative;
    top: auto;
    right: 0px;
    background-color: rgb(13, 4, 31);
    border-color: black;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    padding: 10px;
    border: #07191E solid 5px;
    width: 100%;
    align-self: center;
}

.bottom {
    position: fixed;
    left: 0px;
    bottom: 0px;
    min-height: 1vh;
    height: max-content;
    width: 100vw;
    background-color: darkslateblue;
    z-index: 7;
}


.foot {
    position: fixed;
    width: fit-content;
    height: fit-content;
    left: 80px;
    bottom: 20px;

    display: block;
    /* -webkit-flex-direction: column; */
    display: flex;
    flex-direction: row;

    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    align-items: center;

    color: #FFFFFF;
}

.foot p {
    padding: 5px;
}

.foot b {
    font-weight: 700;
}

.avatar {
    position: relative;
    width: 40px;
    height: 40px;
    left: 0px;
    bottom: 0px;

    background: url('../attachments/Avatar.png');
    background-size: contain;
    border-radius: 50%;
}