/* @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

:root {
    --color-mid: rgb(51 65 85);
    --color-dark: rgb(71 85 105);

    --color-light: rgb(235, 191, 255);
    --color-box-bg: rgba(87, 22, 87, 0.623);
    --border-rad: 5px;
    --margin-alw: 8px;
    --tooltop-icons: 36px;
}

body.body_main {
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); 
    background: linear-gradient(-40deg, #07191E, #082430, #093046, #0C3D4C, #0C556B, #0C556B, #0C3D4C, #093046, #082430, #07191E);
	background-size: 400% 400%;
	animation: back1 15s ease infinite;
    filter: blur(4px); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #000;
    z-index: -1;
    cursor: crosshair;
    margin: 0px;
}


.main {
    z-index: 5;
    position: absolute;
    align-self: center;
    width: 95vw;
    min-width: min-content;
    max-width: 1560px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10px;
    min-height: fit-content;
}

.middle {
    display: flex;
    flex-direction: row;
}

.middle:hover1 {
    background-color: Olive;
    font-size: large;
}

.main-text {
    position: relative;
    top: auto;
    right: 0px;
    background-color: rgb(13, 4, 31);
    border-color: black;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    padding: 10px;
    border-radius: var(--border-rad);
    width: 100%;
    align-self: center;
}

.bottom {
    position: fixed;
    left: 0px;
    bottom: 0px;
    min-height: 1vh;
    height: max-content;
    width: 100vw;
    background-color: darkslateblue;
    z-index: 7;
}


.foot {
    position: fixed;
    width: fit-content;
    height: fit-content;
    left: 80px;
    bottom: 20px;

    display: block;
    /* -webkit-flex-direction: column; */
    display: flex;
    flex-direction: row;

    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    align-items: center;

    color: #FFFFFF;
}

.foot p {
    padding: 5px;
}

.foot b {
    font-weight: 700;
}

.avatar {
    position: relative;
    width: 40px;
    height: 40px;
    left: 0px;
    bottom: 0px;

    background: url('../attachments/Avatar.png');
    background-size: contain;
    border-radius: 50%;
}

.logo-img {
    height: 3em;
}